/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(237, 49%, 15%);
    background-image: radial-gradient(circle farthest-side at center, hsl(214, 47%, 23%) 150%, hsl(237, 49%, 15%)10%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
}
/* section */
section{
    padding: 2rem;
    position: relative;
    margin-left: 20%;
}
/* head-box  */
.head-box{
    width: 50vw;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.text-card p{
    font-size: 1.7em;
    font-weight: 200;
}
.score-card{
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: 1rem;
    padding-left: 2em;
    padding-right: 2em;
}
.score-card p{
    text-transform: uppercase;
    color: blue;
    font-weight: 200;
}
.score-card h1{
    font-size: 3em;
    color: hsl(239, 19%, 43%);
}
/* body-box */
.body-box{
    width: 100%;
    position: relative;
}
.triangle-img{
  width: 50%;
  max-width: 75vw;
  margin-left: 30%;
  margin-top: 5%;
  transform: rotate(60deg);
}
.body-box .group{
    width: 20%;
    height: 35%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all linear 0.3s;
}
.group:hover{
    box-shadow: rgba(248, 248, 248, 0.7) 0px 0px 15px;
    cursor: pointer;
}
.back-silver{
    width: 80%;
    height: 80%;
    background-color: silver;
    border-radius: 50%;
}
.back-white{
    width: 100%;
    height: 95%;
    background-color: white;
    margin-top: 5%;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    display: flex;
}
.back-white img{
    width: 70%;
    height: 70%;
    transform: rotate(5deg);
}
.back{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.center{
    border-radius: 50%;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}
.back_blue{
    background-color: #2A45C2;
    top: 18%;
    left: 15%;
}
.blue{
    background-color: #4664F4; 
}
.back_yellow {
    background-color: #C76C1B;
    top: 18%;
    right: 18%;
}
.yellow {
    background-color: #EB9F0E;
}
.back_red {
    background-color: #9D1634;
    top: 90%;
    left: 40%;
}
.red {
    background-color: #DB2E4D;
}
/* modal */
.btn-modal{
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    width: 10vw;
    height: 5vh;
    margin-top: 45%;
    transition: all ease .5s;
}
.btn-modal:hover{
    background-color: white;
    color: hsl(239, 19%, 43%);
    cursor: pointer;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 11, 59, .8);
}

.modal-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 11, 59, .8);
}

.modal-body {
    padding: 10px 15px;
}
.modal-body img{
    width: 80%;
    margin-left: 10%;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* Responsive codes */
@media (max-width: 750px) {
    .head-box{
        width: 80vw;
    }
    .triangle-img{
        width: 52%;
        margin-left: 25%;
    }
    .back_yellow {
        top: 18%;
        right: 20%;
    }
    .back_red{
        left: 35%;
    }
    .btn-modal{
        margin-top: 15%;
        margin-left: 15%;
        width: 20vw;
    }
}
@media (max-width: 650px) {
    .triangle-img{
        width: 60%;
    }
    .back_red{
        left: 38%;
    }
    .score-card{
        padding: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
